[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyppeteer = "*"
aiohttp = "*"

[dev-packages]
flake8 = "*"
build = "*"
bump2version = "*"
twine = "*"

[requires]
python_version = "3"
